################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TaskManagementAPI/FileContentIndex/59b60169-65f8-42d5-bf43-830ddc57a12a.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/17c57e5b-1329-4a49-96f7-082ae1a45bc1.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/31eb7e8c-86ed-420e-a5c5-f6f658ed89e0.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/b29dcb1a-a7f1-4b88-8bc9-61b54f4bb75a.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/b6c3ded3-9ed0-492b-97cf-3552c2ec30bb.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/f0cb2b05-baf8-48ec-8261-379dfd887b20.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/2547fcba-d95d-4c3c-a33f-2dbca3bb7d88.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/0bab6d79-799a-419d-aaa5-5ee197ae29e1.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/45be073c-8015-49f0-9fd8-012a7d2dc26c.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/ce6d83d7-569c-47dc-8b7e-88911c06a6ce.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/6264cd19-2d2a-410d-ad56-1bcb2591ff47.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/7ac95890-3040-42af-80eb-9b148b878878.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/2f4ddad3-72b8-423e-bcda-a194d12fb1ce.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/5a3459be-5040-4fdb-9426-ac691516b7d4.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/c9c1b8ff-ea4d-42b9-a189-1b95f852776f.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/84af495d-fe54-4c12-9ac6-85a49fa21a36.vsidx
/TasksAPIManagement/.vs/TasksAPIManagement/FileContentIndex/cdd1c5d9-1905-4166-ad4d-804a89e81abc.vsidx
